{% extends "layout.html" %} {% block title %} History {% endblock %} {% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Balance</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>

        {% for share in shares %}

        <tr id="{{ share["symbol"] }}">
            <td>{{ share["symbol"] }}</td>
            <td>{{ share["share"] }}</td>
            <td>{{ share["price"] }}</td>
            <td>{{ share["remain"] }}</td>
            <td>{{ share["timestamp"] }}</td>
        </tr>

        {% endfor %}

    </tbody>
</table>

{% endblock %}